<html>
	<head>
		<title>Blog App</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   		
		<link rel = "stylesheet" type="text/css" href="/styles/blog.css">
	</head>
	
	<body>
    <div class="header">
        <h1>My Journey into Web Development</h1>
    </div>

    <div class="container">
     <div class="photo">
        <img src="/styles/jon.png" style="width: 300px;height:400px;">
    </div>
    <div class="title">
        <h3>How it started</h3> 
    </div>
    <div class="content">
        <p>I woke up March 15th very uncertain of what was going on. I had just worked the slowest Saturday night; all over the news is Covid-19. I had the next three days off and was glad because I didn’t want to be at work while this was going on. Over those three days I watched as the world shut down and before I could even understand it our Premier was shutting down all restaurants and bars effective immediately. I’ve been in the restaurant industry for 20 years and we always joked “RESTAURANTS DON’T CLOSE” and yet here I am watching every single one lock its doors.</p>
        <p>Prior to Covid-19 I had taken a couple of Python courses through Sheridan College. It was good but overall the online experience wasn’t quite what I wanted. Sure there were some assignments and some instructions but I felt like I was basically using Google to complete the work because the instruction just wasn’t quite enough. </p>
        <p>After that I stumbled across some videos about creating some simple websites, I followed along with the videos and made a couple HTML and CSS files and I really enjoyed it. This is when I decided this is what I’d really like to get into. I was creating some websites using notepad and thought it was just amazing. Now back to the middle of March, I knew I was about to have a lot of time on my hand as I was now officially laid off!!  I bought a Udemy course taught by Colt Steele, it came with great reviews so I bought the course for $20. </p>
        <p>April 4th I started the course and I was off to the races. I ploughed through the course within a month. This was my first mistake though, I did all the assignments and I made all the projects. However I did not retain enough of the knowledge I was learning. I was taking in so much information that after I was done a session at the computer I often would struggle with my own side projects.  </p>
        <p>If I could have done it differently I would have gone through the course the section by section twice. The first I should have been watching and taking notes and not coding along. The second time through was when I should have been coding along. I would have retained more but I was just so excited about creating websites and apps.</p>
        <p>The second mistake I made was not researching more about my Udemy class. It had been patched up to stay mostly up to date but I would quickly learn that all of the JavaScript syntax I had just learned would work but wasn’t the new way of coding. We were learning ES 5 … I had no idea that much of the syntax that was thrown at me over and over was now not used.</p>
        <h6>Hindsight is always 20/20</h6>    
        <div class="date">
            <p>March 15, 2020</p>
        </div>
     </div>
    </div>
    <hr>
       <div class="container">
           <div class="photo">
              <img src="/styles/udemy.jpg" style="width: 400px;height:300px;">
          </div>
          <div class="title">
              <h3>Certificate Complete</h3> 
          </div>
          <div class="content">
              <p>I had finally finished my Udemy course. My final project was called Yelp Camp. In order to follow along we all used the same design to get started and campgrounds was the theme. The site will be redesigned into something more useful down the road but for now it taught me about databases, node, authentication and so much more.  Yelp Camp can be seen here <a href=” https://boiling-lake-05560.herokuapp.com/”>Yelp Camp</a> .</p>
              
              <p>After I was done with the Udemy course I was excited to move on and create websites and apps. I did find myself as I said in the last blog a little lost at times because I had stuffed an entire course into such a short time period. I had all of the knowledge in my brain but remembering it all without looking things up was the issue. I felt pretty down sometime when I would Google something stupid that I felt I should know.</p>
              <p>The week or so after completing the Udemy course was the toughest for me, that feeling of what now was really hitting me hard. I knew I needed to practice what I had learned. </p>
              <p>During my Udemy course I was given an excellent opportunity by <a href="https://zerotomastery.io/">Zero to Mastery</a>. They had been offering up 6 months of free online classes to people who had been affected by Covid-19. I filled out their online form and told them I was out of work and looking to move out of the restaurant industry. I was lucky enough to be offered 6 months of free classes.</p>
              <p>I decided I would do ZTM’s 2020 Web Developers Course. I know why would I choose that? My thought process was I would go through the course fast and complete the assignments without coding along. In my mind this was just the challenge and also the opportunity to get some added skills as this course also offered React.</p>
              <p>I flew though HTML and CSS, crushed the quizzes and moved onto JavaScript on my second day in the course… but then my eyes were opened. </p>
              <div class="date">
                  <p>May 9, 2020</p>
              </div>
           </div>
          </div>

          <hr>
          <div class="container">
              <div class="photo">
                 <img src="/styles/zero.jfif" style="width:400px;height:350px;">
             </div>
             <div class="title">
                 <h3>Zero to Mastery</h3> 
             </div>
             <div class="content">
                 <p>My Zero to Mastery course really opened my eyes to some of the outdated practices I had just been taught and had just been drilled into my brain. All those functions I created were now replaced with => and code was shorter and much nicer but it made it confusing after feeling like I had just learned an outdated syntax. I had known the course was a bit outdated and was warned about one section on JQuery as an example of it. JQuery is well past its prime according to most people online and while it’s a great knowledge to have, an entire section was dedicated to an underused library. </p> 
                 <p>Both my instructors Colt and Andrei both have a great way of making you feel like you should keep going even when you feel like you are just not getting it. That feeling of “I’m never going to remember all of this” was set aside a when they explain that every programmer feels like this at some point even as a seasoned programmer. </p> 
                 <p>Andrei from Zero to Mastery would constantly use examples like Bill Gates or Elon Musk at one point didn’t know what they were doing.</p> 
                 <p>The only real issue I have with the course is that the instructor using a Mac. The course is designed around him using that Mac and as a Windows user I have to follow a different set of videos and walk through performed by someone else. This other instructor was great don’t get me wrong but it makes you feel like you are not a part of the class when you have to venture off to find the Windows version.</p> 
                 <p>I am now starting to finish off the last 25% of the Zero to Mastery Web Developer course. I have got to touch on some React which is amazing so far. It is complicated though in comparison to some of what we have learned so far. </p> 
                 <p>Our final project is a facial recognition app. I am just starting my first watch in which I will take notes and go through without laying a finger on the keyboard. My hope is that I will be able to code along during my second time through with a greater knowledge of what’s coming next and how we get from point A to point B.</p>    
                 <div class="date">
                     <p>May 15, 2020</p>
                 </div>
              </div>
             </div>
<footer>
    <p>&copy Jon Shallcross 2020</p>
</footer>

</body>

</html>









