<html>
	<head>
		<title>Web Development Blog</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   		
		<link rel = "stylesheet" type="text/css" href="/styles/index.css">
	</head>
	
	<body>


	<div id="test" class="container d-flex align-items-center h-100">
	      <div class="row">
	        <header class = "text-center col-12">
	          <h1><strong>Slinging beers to Web Development</strong></h1>
	        </header>
	        <div class="buffer col-12"></div>
	        <section class="text-center col-12">
	          <hr>
	          <a href="/blog">
	            <button class="btn btn-primary btn-xl">Find Out More</button>
	          </a>
	        </section>  
	      </div>
	  </div>

	  <footer>
		<p>&copy Jon Shallcross 2020</p>
	</footer>
	
	</body>

</html>


